{% if user.is_authenticated %}
<div class="row">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if index %}active{% endif %}" href="{% url 'index' %}">
        Все авторы
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if follow %}active{% endif %}" href="{% url 'follow_index' %}">
        Избранные авторы
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if love_game %}active{% endif %}" href="{% url 'group_posts' slug='love_game' %}">
        Ваш ТОП
      </a>
    </li>
  </ul>
</div>
{% endif %}