{% extends 'base.html' %}
{% block title %}О проекте{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-3 mb-3 mt-1">
  </div>
  <div class="col-md-10">
  <div class="card-body">
    <div class="card-text">
      <h1>О проекте</h1>
      <p>
        Сайт состоит из следующих частей: главная страница, страница группы, профиля, поста.
        На сайте существует система регистрации пользователей и подписка.
        Зарегестрированный пользователь имеет собственный профиль с возможность публикации собственных постов на
        странице собственного профиля и групп. Опублекованный пост возможно редактировать и прикреплять к нему изображение, также
        зарегестрированный пользователь может добавить комментарий к посту.
      </p>
    </div>
  </div>
  </div>
</div>
{% endblock %} 